@media (min-width: 767px) {
    .main {
        background-image: url('./assets/in-game-bg-peppermint-1920x1080.png');
        background-size: cover; /* or use "100% 100%" to stretch the image */
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 6rem;
        min-height: 100vh;
    }
  }
  
  /* This media query will apply when the viewport width is 430px or more */
  @media (max-width: 767px) {
    .main {
        background-image: url('./assets/sign-in-screen-430x932.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        min-height: 100vh;
    }
  }